@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Closed</title>
</head>
<body>
    <div>
       SORRY WE ARE CLODED ! :(
    </div>
</body>
</html>
